body{
	background-image: linear-gradient(to bottom right, #30cfd0 0%, #330867 100%);
	background-size: cover;
	background-position: center;
}

.login-box{
	max-width: 700px;
	float: none;
	margin: 150px auto;
}
.login-left{
	background: rgba(211, 211, 211, 0.5);
	padding: 30px;
	border-right: 0.1px solid black;
}
.login-right{
	background: rgba(211, 211, 211, 0.5);
	padding: 30px;
	border-left: 0.0001px solid black;
}
.form-control{
	background-color: transparent ;
}
a{
	color: #fff !important;
	margin-top: -200px !important;
}
h1{
	color: #fff !important;
	margin-top: 200px !important;
	text-align: center;
	text-transform: uppercase;
}
